<div class="container-fluid card login-container">
    <h3 class="text-center">Create an account</h3>
    <hr>
    <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>
    <div class="mb-3">
        <label class="form-mabel" for="email">Email address</label>
        <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="register" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label class="form-mabel" for="firstname">First name</label>
        <input [(ngModel)]="registerRequest.firstname" type="text" class="form-control" id="firstname" placeholder="first name">
    </div>
    <div class="mb-3">
        <label class="form-mabel" for="lastname">Last name</label>
        <input [(ngModel)]="registerRequest.lastname" type="text" class="form-control" id="lastname" placeholder="last name">
    </div>
    <div class="mb-3">
        <label class="form-mabel" for="password">Password</label>
        <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="d-flex justify-content-between mb-3">
        <button (click)="register()" class="btn btn-primary" type="button">
            <em class="fas fa-pencil">&nbsp;register</em>
        </button>
        <div>
            Already have an account?&nbsp;
            <button (click)="login()" class="btn btn-link" type="button">
                <em class="fas fa-sign-in-alt">&nbsp;Sign in</em>
            </button>
        </div>
    </div>
</div>